/* main styles */
@import "./main.css";

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: #F3F7F8;
}

h2{
    all: unset;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

i {
    margin-right: 10px;
    color: #00866C;
}

p{
    all: unset;
}

/* commons */
/* global table styles */
table {
    width: 98%;
    border-collapse: separate;
    background: #fff;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

thead {
    border-radius: 5px;
    user-select: none;
}

thead th {
    font-family: 'Patua One', cursive;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 20px;
    background-color: #343A3F;
    border-top: 1px solid #858d99;

    &:first-child {
        border-top-left-radius: 5px;
    }

    &:last-child {
        border-top-right-radius: 5px;
    }
}

tbody tr td {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;

}

tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

tbody tr:last-child td {
    border-bottom: none;

    &:first-child {
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-bottom-right-radius: 5px;
    }
}

tbody:hover>tr td {
    opacity: 0.5;
}

tbody:hover>tr:hover td {
    text-shadow : none;
    color: #2d2d2d;
    opacity: 1.0;
}


/* nav styles */
.nav, 
.content{
    padding: 10px;
}

.nav{
    min-width: 220px;
    width: 15%;
    min-height: 100vh;
    color: #fdfdfd; 
    border-right: 1px solid black;
    background-color: #343A3F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    width: 85%;
    min-height: 100vh;
    background-color: #F3F7F8;
    color: #000000;
    font-family: "Laila", serif;
}

.nav .nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000000;
    margin-bottom: 5px;
    height: 10vh;
    user-select: none;
}

.nav .nav-header h1{
    all: unset;
    font-size: 2rem;
    font-family: "Laila", serif;
    padding: 0.3rem;
}

.nav .nav-header h1 span{
    color : #00866C;
    font-weight: 700;
}

.nav .nav-header sup{
    text-align: center;
}

.nav-items{
    /* background-color: #00866C; */
    min-height: 73vh;
    font-family: "Laila", serif;
}

.nav-items .nav-item{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #242e2d;
    font-size: 0.88rem;
}


.nav-items .nav-item:hover{
    background-color: #00866C;
}
.nav-item:hover i {
    color: white;
}

.nav-footer{
    color: #FFF;
    height: 12vh;
    font-family: "Laila", serif;
}

.nav-footer .bugs,
.nav-footer .signout{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #242e2d;
}

.nav-footer .bugs i,
.nav-footer .signout i {
    margin-right: 11px;
    color: #00866C;
}

.nav-footer .bugs{
    border-top: 1px solid #000;
}

.nav-footer .signout{
    margin-top: 5px;
}

.nav-footer .bugs:hover,
.nav-footer .signout:hover{
    background-color: #00866C;
}

.nav-footer .bugs:hover i,
.nav-footer .signout:hover i {
    color: #FFF;
}

/* start of content section */

/* 1 - employee section */

.content section {
    display: none;
}

.content .employees {
    display: block;
}

/* employee section */

.employees .emp-header{
    background-color: #FFFFFF;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    user-select: none;
}

.employees .emp-header h2{
    font-size: 1.8rem;
    color: #7f7f7f;
}

.employees .emp-data{
    background-color: #FFF;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.employees .emp-data .emp-data-head{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.employees .emp-data input{
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

.employees .emp-data .emp-add{
    background-color: #343A3F;
    padding: 20px 30px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.employees .emp-data .emp-add:hover{
    background-color: #323434;
}
.employees .emp-data .emp-add:hover i{
    color: #FFF;
}

.employees .emp-data .actions{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.employees .emp-data .actions i{
    display: inline-block;
    font-size: 1rem;
}

.employees .emp-data .actions i:last-of-type{
    color: red;
}


/* employee modal styles */
.emp-modal{
    width: 40%;
    height: 100vh;
    transition: opacity 0.5s ease, visibility 0.5s;
    border-left: 1px solid #DDD;
    display: none;
}

.emp-modal.show {
    opacity: 1;
    visibility: visible;
}

.emp-modal .emp-modal-header{
    width: 100%;
    height: 10vh;
    background-color: #323434;
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 12px;
    font-size: 1rem;
    color: #FFF;
}

.emp-modal .emp-modal-header .close i{
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFF;
}

.emp-modal .emp-modal-header .close:hover{
    font-size: 1.8rem;
}

.emp-modal .emp-modal-body {
    height: 90vh;
    width: 100%;
    padding: 10px;
    background-color: #F3F7F8;
}

.emp-modal .emp-modal-body .emp-info{
    display: flex;
    flex-direction: column;
}

.emp-modal .emp-modal-body .emp-info h4{
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    background-color: #fff;
    color: #323434;
}

.emp-modal .emp-modal-body .emp-info table{
    margin: 0;
}

.emp-modal .emp-modal-body .emp-info a{
    text-decoration: underline;
}
/* end of employee modal */