/* main styles */
@import "./main.css";

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: #F3F7F8;
}

a {
    text-decoration: none;
}

i {
    margin-right: 10px;
    color: #00866C;
}


/* nav styles */
.nav, 
.content{
    padding: 10px;
}

.nav{
    min-width: 220px;
    width: 15%;
    min-height: 100vh;
    color: #fdfdfd; 
    border-right: 1px solid black;
    background-color: #343A3F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    width: 85%;
    min-height: 100vh;
    background-color: #F3F7F8;
    color: #000000;
    font-family: "Laila", serif;
}

.nav .nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000000;
    margin-bottom: 5px;
    height: 10vh;
    user-select: none;
}

.nav .nav-header h1{
    all: unset;
    font-size: 2rem;
    font-family: "Laila", serif;
    padding: 0.3rem;
}

.nav .nav-header h1 span{
    color : #00866C;
    font-weight: 700;
}

.nav .nav-header sup{
    text-align: center;
}

.nav-items{
    /* background-color: #00866C; */
    min-height: 73vh;
    font-family: "Laila", serif;
}

.nav-items .nav-item{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #242e2d;
    font-size: 0.95rem;
}


.nav-items .nav-item:hover{
    background-color: #00866C;
}
.nav-item:hover i {
    color: white;
}

.nav-footer{
    color: #FFF;
    height: 12vh;
    font-family: "Laila", serif;
}

.nav-footer .bugs,
.nav-footer .signout{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #242e2d;
}

.nav-footer .bugs i,
.nav-footer .signout i {
    margin-right: 11px;
    color: #00866C;
}

.nav-footer .bugs{
    border-top: 1px solid #000;
}

.nav-footer .signout{
    margin-top: 5px;
}

.nav-footer .bugs:hover,
.nav-footer .signout:hover{
    background-color: #00866C;
}

.nav-footer .bugs:hover i,
.nav-footer .signout:hover i {
    color: #FFF;
}

/* start of content section */

/* 1 - employee section */

.content section {
    display: none;
}

.content .employees {
    display: block;
}