@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #252932; */
    background-color: #343A3F;
}

.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}

/* span animation */
@keyframes animateBlink {
    0% {
        /* background: rgb(245, 245, 15); */
        background-color: #00866C;
    }

    25% {
        background: #2c4766;
    }
}

/* megadev animation */
@keyframes logoBlink{
    0% {
        color: #00866C;
    }

    25% {
        /* color: #357ed2; */
        color: #2e3235;
    }
}

.login-box {
    position: absolute;
    width: 400px;
    /* background: red; */
}

.login-box form {
    width: 100%;
    padding: 0 50px;
}

h2 {
    font-size: 1.7em;
    /* color: rgb(245, 245, 15); */
    color: #00866C;
    text-align: center;
    user-select: none;
}

h3 {
    font-size: 2em;
    color: #00866C;
    /* color: rgb(245, 245, 15); */
    /* color: #2c4766; */
    text-align: center;
    user-select: none;
    position: relative;
    top : -100px;
    animation: logoBlink 3s ease infinite;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    /* border-color: rgb(245, 245, 15); */
    border-color: #00866C;
    
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    /* background: #1f293a; */
    background: #343A3F;
    padding: 0 6px;
    /* color: rgb(245, 245, 15); */
    color :#00866C;
}


.btn {
    width: 100%;
    height: 45px;
    /* background: rgb(245, 245, 15); */
    background-color: #00866C;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
    margin-bottom: 15px;
    user-select: none;
}

p {
    color: #fff;
    font-size: .75rem;
}